@{
    ViewData["Title"] = "Secret";
}

<div class="row">
    @foreach (var item in User.Claims)
    {
        <text>
            Type: @item.Type
            Name: @item.Value
        </text>
        <br />
    }
</div>